#listado {
    width: 800px;
}

#listado,
tr,
th,
td {
    border: 1px solid rgb(248, 0, 210);
    border-collapse: collapse;
}
body{
    background-image: url(img/fondo.jpg);
    background-size: cover;
      }

table{
    content: center;
}

form{
    content: center;
}
tabla{
    content: center;
}
button[type="button"] {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button[type="button"]:hover {
    background-color: #006666;
  }