body {
    margin: 0;
    padding: 0;
    background-size: cover;

    font-family: 'Arial', sans-serif;
    background-repeat: no-repeat;
  }
  
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  h1 {
    font-size: 72px;
    margin-bottom: 50px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  img {
    width: 200px;
    margin-bottom: 50px;
  }
  
  button {
    padding: 20px 40px;
    font-size: 24px;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #006666;
  }
  