#animal{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."; 
    padding-left: 200px;
    padding-top: 50px;}

#animal img{
    width: 200px;
}
body{
    background-image: url("../img/fondo.jpg");
}